<|start|>system<|message|>You are ChatGPT, a large language model trained by OpenAI.
Knowledge cutoff: 2024-06
Current date: {{ current_date | default('2024-01-01') }}
{%- if think_level %}

Reasoning: {{ think_level }}
{%- else %}

Reasoning: medium
{%- endif %}

{%- if tools %}
{%- set has_browser = namespace(search=false, open=false, find=false) %}
{%- set has_python = false %}
{%- set non_builtin_tools = [] %}
{%- for tool in tools %}
  {%- if tool.name == "browser.search" %}
    {%- set has_browser.search = true %}
  {%- elif tool.name == "browser.open" %}
    {%- set has_browser.open = true %}
  {%- elif tool.name == "browser.find" %}
    {%- set has_browser.find = true %}
  {%- elif tool.name == "python" %}
    {%- set has_python = true %}
  {%- else %}
    {%- set _ = non_builtin_tools.append(tool) %}
  {%- endif %}
{%- endfor %}

{%- if has_browser.search or has_browser.open or has_browser.find or has_python %}
# Tools
{%- if has_browser.search or has_browser.open or has_browser.find %}

## browser

// Tool for browsing.
namespace browser {
{%- if has_browser.search %}

type search = (_: {
query: string,
topn?: number,
source?: string,
}) => any;
{%- endif %}
{%- if has_browser.open %}

type open = (_: {
id?: number | string,
cursor?: number,
loc?: number,
num_lines?: number,
view_source?: boolean,
source?: string,
}) => any;
{%- endif %}
{%- if has_browser.find %}

type find = (_: {
pattern: string,
cursor?: number,
}) => any;
{%- endif %}

} // namespace browser
{%- endif %}
{%- if has_python %}

## python

When you send a message containing Python code to python, it will be executed in a stateful Jupyter notebook environment.
{%- endif %}
{%- endif %}

# Valid channels: analysis, commentary, final.
{%- if non_builtin_tools %}
Calls to these tools must go to the commentary channel: 'functions'.
{%- endif %}
{%- endif %}<|end|>
{%- if non_builtin_tools or system_prompt %}
<|start|>developer<|message|>
{%- if non_builtin_tools %}
# Tools

## functions

namespace functions {
{%- for tool in non_builtin_tools %}
{%- if tool.description %}
// {{ tool.description }}
{%- endif %}
type {{ tool.name }} = (_: {
{%- for param_name, param_info in tool.parameters.properties.items() %}
  {{ param_name }}: {{ param_info.type }},
{%- endfor %}
}) => any;
{%- endfor %}

} // namespace functions
{%- endif %}
{%- if system_prompt %}

# Instructions

{{ system_prompt }}
{%- endif %}
<|end|>
{%- endif %}
<|start|>user<|message|>{{ instruction }}<|end|>
{%- if thinking_content %}
<|start|>assistant<|channel|>analysis<|message|>{{ thinking_content }}<|end|>
{%- endif %}
{%- if tool_calls %}
{%- for tool_call in tool_calls %}
<|start|>assistant<|channel|>commentary to=functions.{{ tool_call.name }} <|constrain|>json<|message|>{{ tool_call.arguments | tojson }}<|call|>
{%- endfor %}
{%- endif %}
{%- if tool_responses %}
{%- for i, tool_response in enumerate(tool_responses) %}
<|start|>functions.{{ tool_calls[i].name }} to=assistant<|message|>{{ tool_response }}<|end|>
{%- endfor %}
{%- endif %}
<|start|>assistant<|channel|>final<|message|>{{ response }}<|end|>